<form [formGroup]="storeForm" (ngSubmit)="submitStoreForm()">
  <table>
    <tr>
      <td>

        <mat-form-field appearance="outline">
          <mat-label>Contact Name</mat-label>
          <input matInput formControlName="storeContactName" placeholder="Placeholder">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

      </td>
      <td>

        <mat-form-field appearance="outline">
          <mat-label>Store Address</mat-label>
          <input matInput formControlName="storeAddress" placeholder="Store Address">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

      </td>
      <td>

        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="storePhoneNumber" placeholder="Store Phone Number">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

      </td>
      <td>

        <mat-form-field appearance="outline">
          <mat-label>Store Email Address</mat-label>
          <input matInput formControlName="storeEmail" placeholder="Store Email">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

      </td>
      <td>
        <!-- emit delete event up w/ index of player -->
        <button (click)="delete()">Delete</button>
      </td>
    </tr>
  </table>
  <button type="submit">Add Store</button>
  <pre>Player Form Status: <span class="status">{{storeForm.status}}</span></pre>
</form>
