<app-card>
<form [formGroup]="storeForm" (ngSubmit)="submitStoreForm()">
  <table>
    <tr>
      <td>
        <label>Contact Name</label>
        <input class="mb-3 form-control" formControlName="storeContactName" placeholder="Contact Name">
      </td>
      <td>
          <label>Store Address</label>
          <input class="mb-3 form-control" formControlName="storeAddress" placeholder="Store Address">
      </td>
      <td>
        <label>Phone Number</label>
         <input class="mb-3 form-control" formControlName="storePhoneNumber" placeholder="Store Phone Number">
      </td>
      <td>
        <label>Store Email Address</label>
        <input class="mb-3 form-control" formControlName="storeEmail" placeholder="Store Email">
      </td>
      <td>
        <label>Store Commission Rate</label>
        <input class="mb-3 form-control" formControlName="storeCommissionRate" type="number" placeholder="Store Commission Rate">
      </td>
    </tr>
  </table>
  <button class="btn btn-primary" type="submit">Add Store</button>
  <pre>Player Form Status: <span class="status">{{storeForm.status}}</span></pre>
</form>
</app-card>
