<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
      <table  class="table table-striped">
        <tr>
          <td>Name</td>
          <td>{{owner.OwnersFirstName}}</td>
        </tr>
        <tr>
          <td>Last Name</td>
          <td>{{owner.OwnersLastName}}</td>
        </tr>
        <tr>
          <td>Email</td>
          <td>{{owner.OwnersEmailAddress}}</td>
        </tr>
        <tr>
          <td>action</td>
          <a routerLink="add-store">add store</a>
        </tr>
      </table>
      <br>

    </div>
  </div>
</div>
