<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-12 col-md-12 sol-sm-12">
      <table  class="table table-striped">
        <tr>
          <td>Name</td>
          <td>{{ownerData.OwnersLastName}}</td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ownerData.OwnersLastName}}</td>
        </tr>
        <tr>
          <td>Price</td>
          <td>{{ownerData.OwnersEmailAddress}}</td>
        </tr>
      </table>
      <br>
      <button class="btn btn-warning" (click)="navigation('')">Go Back</button>
    </div>
  </div>
</div>
