

    <form [formGroup]="ownerForm" (ngSubmit)="onFormSubmit()" class="button-margin form-inline">

        <label for="OwnersFirstName"></label>
        <input style="margin: 5px;"  placeholder="Owners First Name" id="OwnersFirstName" type="text" formControlName="OwnersFirstName" class="form-control">

        <label for="OwnersLastName"></label>
        <input style="margin: 5px;"  placeholder="Owners Last Name" id="OwnersLastName" type="text" formControlName="OwnersLastName" class="form-control">

      <label for="OwnersPhoneNumber"></label>
      <input style="margin: 5px;"  placeholder="( _ _ _ ) _ _ _ - _ _ _ _" type="number" formControlName="OwnersPhoneNumber" id="OwnersPhoneNumber" class="form-control">

      <label for="OwnersEmailAddress"></label>
      <input style="margin: 5px;"  placeholder="Email Address" type="text" formControlName="OwnersEmailAddress" id="OwnersEmailAddress" class="form-control" >

      <label style="margin: 5px;" for="OwnersPaymentMethod"></label>
      <input style="margin: 5px;"  placeholder="Payment Method" type="text" formControlName="OwnersPaymentMethod" id="OwnersPaymentMethod" class="form-control" >


      <label for="OwnersCommissionRate"></label>
      <input style="margin: 5px;"  placeholder="Commission Rate" type="number" formControlName="OwnersCommissionRate" id="OwnersCommissionRate" class="form-control" >

      <div style="margin: 10px;">
        <button type="button" (click)="addAgent()" status="primary" >Add Agent</button>
      </div>



      <div class="row button-margin">

        <!--<label for="ackAge">
          By checking this box, I certify that I am at least 18-years old, have the capacity to enter into legally binding contracts
        </label>
        <input  type="checkbox" formControlName="ackAge" id="ackAge" class="form-control" >
        <label for="acknowledgeToU">
          By checking this box, I certify that I have read and agree to the Terms of Use
        </label>
        <input  type="checkbox" formControlName="acknowledgeToU" id="acknowledgeToU" class="form-control">-->
      </div>
    </form>


          <button (click)="saveOwner()" type="submit" [disabled]="!ownerForm.valid" >Create Owner</button>





