<mat-sidenav #leftSideNav mode="side"  class="rightSidenav"
             [fixedInViewport]="true" [fixedTopGap]="250">

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          План закупок
        </mat-panel-title>
        <mat-panel-description>
          Currently I am {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>

    </mat-expansion-panel>
  </mat-accordion>

</mat-sidenav>
