<section>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2 class="uppercase section-title hr-mid">Numeric Data</h2>
      <h2 class="uppercase weight300 no-margin">Straight to the point</h2>
    </div>
    <div class="clearfix"></div>
    <div class="section-top">
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <span class="aside-title uppercase">Big</span>
            <span class="h2 motive uppercase">counters</span>
            <br>
            <br>
            We think they look pretty nice
          </div>
          <div class="col-sm-7">
                <span class="big" data-color="2b8be9">
                    <span class="counter" data-to="1000" data-speed="2000">0</span>
                </span>
            <br>
            <h4 class="uppercase">They are <span class="motive">eye</span> catchy</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="row">
          <div class="col-sm-5">
            <span class="aside-title uppercase">Big</span>
            <span class="h2 motive uppercase">counters</span>
            <br>
            <br>
            We think they look pretty nice
          </div>
          <div class="col-sm-7">
                <span class="big" data-color="2b8be9">
                    <span class="counter" data-to="1000" data-speed="2000">0</span>
                </span>
            <br>
            <h4 class="uppercase">They are <span class="motive">eye</span> catchy</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
