<mat-toolbar color="primary">
   <span class="nav-tool-items">
     <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle()" class="hamburger">menu</mat-icon>
     </button>
  </span>
  <div>Get Legal Now</div>
  <!-- select owner dropdown -->
  <span class="example-fill-remaining-space">
     <!--<nb-select [ngModel]="selectedOwner" ngSwitch="getOwnerDetails" (ngModelChange)="onChangeObj($event)">
      <nb-option  *ngFor="let owner of allOwners; let i = index" [value]="allOwners[i]">
        {{allOwners[i].OwnersLastName +  allOwners[i].OwnersLastName}}
      </nb-option>
    </nb-select>-->
  </span>
  <span class="left">Right Aligned Text</span>
</mat-toolbar>

<mat-sidenav-container class="mat-sidenav-container">
  <!-- Sidenav -->
  <mat-sidenav #sidenav [(opened)]="opened" >
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/create-owner">
        <mat-icon>add</mat-icon> Create Owner
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/list-owners">
        <mat-icon>format_list_bulleted</mat-icon> View Owners
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/add-store">
        <mat-icon>add</mat-icon> Add Store
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="margin-left: 250px;">

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
