[item] {
  font-size: 15px;
  margin: 1rem;
}
h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.control-panel {
  padding: 2rem;
}
.menu-item a {
  font-size: 20px;
}

.menu-text-font-family{
 font-size: 20px;
}
.section {
  padding-top: 90px;
  padding-bottom: 90px;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #313842;
}
.big {
  font-size: 120px;
  font-weight: 900;
  line-height: 1;
}
/*.mat-drawer-content.mat-sidenav-content {
  margin-left: 250px;
}*/
