<nb-card>
  <nb-card-body>
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Contact Info</ng-template>
        <h4>Enter Contact Information</h4>
          <form [formGroup]="contactInfoForm" (ngSubmit)="onNext(contactInfoForm)" >
            <div class="form-row">
              <label for="firstName"> First Name </label>
              <input nbInput id="firstName" type="text" formControlName="firstName" class="form-control">
              <label for="lastName"> Last Name </label>
              <input nbInput type="text" formControlName="lastName" id="lastName" class="form-control">
            </div>
            <div class="form-row">
              <label for="phoneNumber"> Phone Number</label>
              <input nbInput type="phone" formControlName="phoneNumber" id="phoneNumber" class="form-control" >
            </div>
            <div class="form-row">
              <label for="email"> Email</label>
              <input nbInput type="email" formControlName="email" id="email" class="form-control" >
            </div>
            <div class="form-row">
              <nb-select placeholder="Select Showcase" [(selected)]="selectedItem">
                <nb-option value="">SMS Text Message</nb-option>
                <nb-option value="0">Email </nb-option>
                <nb-option value="1">Phone Call</nb-option>

              </nb-select>
            </div>
            <div class="form-row">
              <textarea nbInput fullWidth placeholder="Notes"></textarea>
            </div>



            <button nbButton  disabled nbStepperNext>prev</button>
            <button nbButton status="info" nbStepperNext>next</button>
          </form>
      </nb-step>
      <nb-step [label]="labelTwo">
        <ng-template #labelTwo>Book Appointment</ng-template>
        <h4>Step content #2</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton status="info" nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Payment">
        <h4>Step content #3</h4>
        <p class="lorem">
          Lorizzle ipsum dolizzle stuff fizzle, consectetuer adipiscing break it down.
          Nullizzle sapien velizzle, my shizz pimpin', shizzle my nizzle crocodizzle shut the shizzle up,
          gravida vizzle, dang.
        </p>
        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton status="info" nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
